article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}




/* 
Klim foundry
*/


@font-face {
	font-family: "TiemposHeadline";
	src: url("fonts/TiemposHeadline/tiempos-headline-test-bold.woff") format("woff");
	}


	
@font-face {
	font-family: "SohneB";
	src: url("fonts/SohneB/soehne-breit-test-kraftig") format("woff");
	}
	

body {
	--color-text: #27347E;
    --color-bg: #e8e8e8;
    --color-link: #27347E;
    --color-link-hover: #27347E;
    --color-info: #272526;
    --grid-item-bg: #f1f1f1;
    --color-close: #27347E;

	font-family: "SohneB", sans-serif;	
	font-weight: 400;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
}

h4{
	font-family: 'TiemposHeadline', serif;	font-weight: 1000;
	
	font-size: 150vh;
	color:#2B2B2B;
}

h3{
	font-family: "SohneB", sans-serif;	
}

h2{
	font-family: 'TiemposHeadline', serif;
}

/* 
 * AnimatedImageColumns
 * https://github.com/codrops/AnimatedImageColumns/
 for javascript image grid
*/



/* @keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
} */

a {
	text-decoration: none;
	color: #27347E;
	cursor: pointer;
	outline: none;
}

a:hover,
a:focus {
	color: #27347E;
	outline: none;
}

a:visited {
	color: #27347E;
  }

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}



main {
	position: relative;
}

.frame {
	position: relative;
	padding: 1.5rem 2.5rem;
}

.frame a:hover {
	color: #27347E;
}


.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}



.title {
	text-align: left;
	padding: 2vw;
}

.title__name,
.title__sub {
	font-weight: bold;
	margin: 0;
	font-size: 3rem;
}

.title__sub {
	position: relative;
	margin: 0;
}

.under-title{
	font-family: "SohneB", sans-serif;	
	font-weight: 500;
	padding: 2vw;
	padding-top: 0vw;
	font-size: 3vh;
	color:#272526;
	margin-top: 2vw;

}



.grid-wrap {
	position: relative;
	max-width: 3900px;
	margin: 0 auto;
	padding: 1.5rem 2.5rem 0;
}

.grid-wrap--hidden {
	height: 0;
	overflow: hidden;
}

.grid {
	margin: 0 auto;
	position: relative;
	display: none;
}

.js .grid {
	display: block;
}

.thumb {
	width: 260px;
	font-family: 'TiemposHeadline', serif;
	position: relative;
	padding: 2rem;
	margin-bottom: 5rem;
}

.thumb-wrap {
	position: relative;
}

.thumb-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
}

.thumb-img {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;



}

.thumb:nth-child(even) .thumb-img {
	transform: rotate3d(0,0,1,0deg);
}

.thumb:nth-child(odd) .thumb-img {
	transform: rotate3d(0,0,1,0deg);
}

.thumb-title {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;

	transform-origin: 0 50%;
}

.thumb-number {
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2.65rem;
	margin: 0 0 0.15rem;
}

.thumb-number > span {
	display: inline-block;
}

.content {
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	pointer-events: none;
}

.js .content {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}



/* 
 * AnimatedImageColumns
 * https://github.com/codrops/AnimatedImageColumns/
 for javascript image grid
*/

.content__item {
	padding: 10rem 5vw 10rem;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
}

.js .content__item--current {
	height: auto;
	opacity: 1;
	padding: 3rem 5vw 10rem;
	pointer-events: auto;
}

.content__item-intro {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.content__item-img {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
	visibility: hidden;
}

.content__item-title {
	position: relative;
	color: #2B2B2B;
	font-size: 7vw;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 0 5vw;
	white-space: nowrap;
	grid-area: 1 / 1 / 1 / 1;
}

.content__item-title > span {
	white-space: pre;
	display: inline-block;
}

.content__item-subtitle {
	text-align: center;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 3rem auto;
}

.content__item-text {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.content__item-text p {
	margin: 0;
}

.content__close {
	position: absolute;
	top: 0.75rem;
	left: 50%;
		z-index: 10000;
	transform: translateX(-50%);
		background: none;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: var(--color-text);
}

.content__close:focus {
	outline: none;
}

.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__indicator {
	position: absolute;
	top: calc(100vh - 6rem);
	left: calc(50% - 0.75rem);
	display: none;
}

.js .content__item-title > span,
.js .content__item-subtitle,
	.js .content__item-text,
.content__close,
.content__indicator {
	opacity: 0;
}





@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
	
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
	}
 
	.title {
		grid-area: title;
		display: flex;
			text-align: left;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
			top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.thumb-number {
		right: -2.45rem;
	}
	.thumb-title {
		margin-left: -0.25rem;
	}
		.content__item-subtitle {
		font-size: 3vw;
	}
	.content__item-text {
  		column-count: 2;
  		column-gap: 20px;
  	}
	.content__item-img {
		max-width: none;
		height: calc(100vh - 6rem);
	}



	.content__item-subtitle {
		max-width: 50%;
	}
	.content__indicator {
		display: block;
	}
}



.content__img {
	max-width: 10%;
	position: absolute;
		top: 0;
	left: 0;
	opacity: 1;
	will-change: transform;
	filter: var(--filter-img);
}

.content__img--full {
	width: 10%;
	height: 10%;
	background-size: cover;
}


.article-image{
margin-left: auto;
	margin-right: auto;
  width: 100%;
  padding-top:2vw;
  padding-bottom:1vw;
  /* box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.7); */

}


.content__item-text figcaption{
	padding-bottom: 2vw;
	color: #57585c;
	font-size: 14px;

  }

  .references{
	color: #57585c;
	font-size: 14px;
	text-align: left;
  }




/* SIDENAV */

.hamburger {
	color: #272526;
}

.sidenav {
	height: 100%;
	width: 0;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
		background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  /* TOOLTIP */

 


  .qtip {
	display: inline-block;
	position: relative;

	cursor: pointer;
	color: #27347E;
	border-bottom: 0.05em dotted #27347E;

	box-sizing: border-box;
	font-style: normal;
	transition:all .25s ease-in-out
  }
  .qtip:hover {color:#57585c;border-bottom:0.05em dotted #57585c}
  

  .qtip:before {
	content: attr(data-tip);
	font-size: 14px;
	position: absolute;
	background: #e8e8e8;
	color: #57585c;
	line-height: 1.2em;
	padding: 0.3em;
	font-style: normal;

	min-width: 120px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	font-family: "SohneB", sans-serif;
	letter-spacing: 0;
	
  }
  .qtip:after {
	width: 0;
	height: 0;
	border-style: solid;
	content: '';
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out
  }
  .qtip:hover:before,
  .qtip:hover:after {
	visibility: visible;
	opacity: 1
  }
  .qtip.tip-bottom:before {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, calc(100% + 8px));
	box-sizing: border-box;
	border-radius: 0px;

  }
  .qtip.tip-bottom:after {
	
	border-color: transparent transparent#e8e8e8 transparent;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
  }


/* ABOUT PAGE */


  .about-div {
	box-sizing: border-box;
	display: block;
	  
	  padding: 5rem 2vw 10rem;
	  grid-area: 1 / 1 / 1 / 1;
  }

  .about-div-text {
	background-color: #f1f1f1;
	text-align: justify;
	margin: 1vw;
    max-width: 800px;

  }

  .about-div-text p {
	  padding: 2vw;
	/* margin-block-start: 2vw;
    margin-block-end: 2vw;
	margin-inline-start: 2vw;
    margin-inline-end: 2vw;   */
  }


  .about-gallery{
	float: left;
	width: 100%;
	background-color: #f1f1f1;
	text-align: justify;
	margin: 1vw;
	/* max-width: 800px; */
	padding: 2vw;
	
}

.about-col01{
	float: left;
	width: 31%;	
	
	margin: 1vw;
	/* max-width: 800px; */
	padding: 2vw;
}

.about-col01 figcaption{
	padding-top: 1vw;
	color: #57585c;
	font-size: 14px;

  }






  /* PAPER PAGE */


.paper{
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 2rem 2vw 10rem;

}



.paper-div-text {
	float: left;
	width: 65%;
	background-color: #f1f1f1;
	text-align: justify;
	margin: 1vw;
	/* max-width: 800px; */
	padding: 2vw;

  }

  .paper-image-div{
	float: right;
	width: 30%; 
	background-color: #f1f1f1;
	text-align: justify;
	margin: 1vw;
	/* max-width: 800px; */
	padding: 2vw;
	
  }

  .paper-image-empty{
	float: right;
	width: 30%; 
	background-color:   #e8e8e8;
	text-align: justify;
	margin: 1vw;
	min-height:10vw;
	/* max-width: 800px; */
	padding: 2vw;
	
  }

  .paper-image-div figcaption{
	padding-top: 1vw;
	color: #57585c;
	font-size: 14px;

  }

  .inner {
    margin-left: auto;
  	margin-right: auto;
	 max-width: 100%; 
	max-height: 32vw;
    box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.7);
    background-color: #e8e8e8;
}

  .paper-div-head {
	box-sizing: border-box;
	display: block;
	padding: 1rem 2vw 1rem;
	grid-area: 1 / 1 / 1 / 1;
  }



  .paper-div-text p {
	  

  }

  .paper-header{
	text-align: justify;
	padding: 2vw;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 1rem auto; 
  }

  .paper-subtitle{
	text-align: justify;
	padding: 2vw;
	padding-left: 0vw;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 1rem auto; 

  }

  .paper-subtitle02{
	text-align: justify;
	padding: 1vw;
	padding-left: 0vw;
    font-size: 1rem;
    font-weight: heavy;
    margin: 1rem auto; 

  }

  .left {
	float: left;
	width: 20%; /* The width is 20%, by default */
  }
  
  .main {
	float: left;
	width: 60%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
	.left, .main, .right {
	  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
  }


  .paper-inlin-subtitle {
    text-align: center;
    font-size: 1.25rem;
    font-weight: normal;
	margin: 3rem auto;
	
  }

  /* .js .loading::before {
		
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
			left: 0;
		width: 100%;
		height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
		
	z-index: 100000;
	top: 50%;
			left: 50%;
		
	width: 60px;
	height: 60px;
		margin: -30px 0 0 -30px;
	pointer-events: none;
		border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
} */